<footer class="py-14 bg-[var(--footerBgColor)] shrink-0">
  <div class="relative mx-auto md:w-[600px] w-auto px-[1.3125rem]">
    <ul class="flex justify-center list-none" role="list">
      <li class="mx-3" role="listitem">
        <a href="/">Home</a>
      </li>
      <li class="mx-3" role="listitem">
        <a href="https://github.com/sponsors/kutyel/">Sponsor me</a>
      </li>
      <li class="mx-3" role="listitem">
        <a href="/atom.xml">RSS</a>
      </li>
    </ul>
  </div>
</footer>
