$partial("templates/nav.html")$

<style>
  bsky-comments {
    --background-color: var(--bgColor);
    --text-color: var(--textColor);
    --link-color: var(--textLinkColor);
    --link-hover-color: var(--textLinkHoverColor);
    --comment-meta-color: #888;
    --error-color: #ff4d4d;
    --reply-border-color: var(--separatorColor);
    --button-background-color: var(--btnBgColor);
    --button-hover-background-color: rgba(var(--btnBgColor), 0.2);
    --author-avatar-border-radius: 50%;
  }
</style>

<main class="flex-1" id="content" tabindex="-1">
  <article class="pb-10">
    <header class="bg-[var(--headerBgColor)] mb-8 px-[1.3125rem] md:px-0 py-4 md:py-8">
      <div class="mx-auto md:w-[600px]">
        <h1 class="text-[1.7rem] md:text-[3rem] m-0 mb-4 font-normal leading-[1.2] text-[var(--h1Color)]">
          $title$
        </h1>
        <div class="mx-auto md:w-[600px]">
          <small class="italic">$date$</small>
          <small class="italic"> | $readingtime$ min read</small>
          $if(updated)$
          <small class="italic"> (updated: $updated$)</small>
          $endif$
          <div class="mt-2">[ $tags$ ]</div>
        </div>
      </div>
    </header>
    <section class="mx-auto md:w-[600px] px-[1.3125rem] md:px-0">$body$</section>
  </article>
</main>

$if(postId)$
<bsky-comments post="$postId$"></bsky-comments>
$endif$ $partial("templates/footer.html")$

<script src="https://gistcdn.githack.com/kutyel/41d12e099484fd390fb67168271fcdd9/raw/9be26e500525a2e4edacc53d3a8006aaddec0e15/bsky-comments.js"></script>
