$partial("templates/nav.html")$

<main id="content" tabindex="-1">
  <article>
    <header>
      <h1>$title$</h1>
      <div class="info">
        <small class="italic">$date$</small>
        <small class="italic"> | <span id="time">X</span> min read</small>
        $if(updated)$
        <small class="italic"> (updated: $updated$)</small>
        $endif$
      </div>
    </header>
    <section class="layout--constrained">$body$</section>
  </article>
</main>

<script src="https://giscus.app/client.js"
  data-repo="kutyel/kutyel-hakyll"
  data-repo-id="R_kgDOJAKzeQ"
  data-category="Announcements"
  data-category-id="DIC_kwDOJAKzec4CZFzP"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="dark_dimmed"
  data-lang="en"
  crossorigin="anonymous"
  async>
</script>

<footer class="section--padded">
  <div class="layout--constrained">
    <ul role="list">
      <li role="listitem">
        <a href="./">Home</a>
      </li>
      <li role="listitem">
        <a href="https://github.com/sponsors/kutyel/">Sponsor my work</a>
        <span aria-hidden="true">❤️</span>
      </li>
      <li role="listitem">
        <a href="./atom.xml">RSS</a>
      </li>
    </ul>
  </div>
</footer>

<script>
;(() => {
  const init = () => {
    document.querySelector("button.toggle").addEventListener('click', (e) => {
      const isActive = window.localStorage.getItem('isActive') === 'true'
      const theme = isActive ? "dark_dimmed" : "light"
      sendMessage({ setConfig: { theme } })
    })

    function sendMessage(message) {
      const iframe = document.querySelector('iframe.giscus-frame');
      if (!iframe) return;
      iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
    }

    const isActive = window.localStorage.getItem('isActive') === 'true'
    const theme = isActive ? "dark_dimmed" : "light"
    sendMessage({ setConfig: { theme } })
  }

  setTimeout(init, 1000)
})()
</script>