$partial("templates/nav.html")$

<style>
  bsky-comments {
    --background-color: var(--bgColor);
    --text-color: var(--textColor);
    --link-color: var(--textLinkColor);
    --link-hover-color: var(--textLinkHoverColor);
    --comment-meta-color: #888;
    --error-color: #ff4d4d;
    --reply-border-color: var(--separatorColor);
    --button-background-color: var(--btnBgColor);
    --button-hover-background-color: rgba(var(--btnBgColor), 0.2);
    --author-avatar-border-radius: 50%;
  }
</style>

<main class="flex flex-col justify-between" id="content" tabindex="-1">
  <article>
    <header>
      <h1>$title$</h1>
      <div class="info">
        <small class="italic">$date$</small>
        <small class="italic"> | $readingtime$ min read</small>
        $if(updated)$
        <small class="italic"> (updated: $updated$)</small>
        $endif$
        <div class="tags">[ $tags$ ]</div>
      </div>
    </header>
    <section class="layout--constrained">$body$</section>
  </article>
</main>

$if(postId)$
<bsky-comments post="$postId$"></bsky-comments>
$endif$ $partial("templates/footer.html")$

<script src="https://gistcdn.githack.com/kutyel/41d12e099484fd390fb67168271fcdd9/raw/9be26e500525a2e4edacc53d3a8006aaddec0e15/bsky-comments.js"></script>
